<button mat-raised-button class="mat-primary" (click)="getMovie()">Randomize movie</button>
<form [formGroup]="filterForm" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <label>
        Rate:
        <mat-select formControlName="voteAverage">
          <mat-option value="10">10</mat-option>
          <mat-option value="9">9</mat-option>
          <mat-option value="8">8</mat-option>
          <mat-option value="7">7</mat-option>
          <mat-option value="6">6</mat-option>
          <mat-option value="5">5</mat-option>
          <mat-option value="4">4</mat-option>
          <mat-option value="3">3</mat-option>
          <mat-option value="2">2</mat-option>
          <mat-option value="1">1</mat-option>
        </mat-select>
      </label>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <label>
        <input type="number" matInput placeholder="Select a year" formControlName="year">
      </label>
    </mat-form-field>
  <div>
    <button type="submit" mat-raised-button class="mat-accent">Discover movie</button>
  </div>
</form>


<app-movie-view *ngIf="movieData" [movieData]="movieData"></app-movie-view>
